body{
    background-color:#eeeeee;
    color:#393e46;
}

a{
    color:#393e46;
}

body,
#inputName,
#inputEmail,
#inputPassword,
#inputPasswordC,
.r-t{
    direction: rtl;    

}

form{
    direction: ltr;    
  
}

a>.btn{
    font-size: 1.8rem;

}

#no-decoration{
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("img/1.jpg"); 
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spl{
    letter-spacing: 1px;
}


.badge1 {
    position:relative;
 }
 .badge1[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: .5em;
    background: red;
    color: white;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
 }

.active{
    background-color: #6c757d;
    color: #eeeeee;
}

.float-right>a:hover,
.float-right>i:hover{
    color: #393e46;
}

@media only screen and (max-width: 481px) {
    .card-group {
        display: none;
    }
}