body{
    background-color:#eeeeee;
    color:#393e46;
}

input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

a{
    color:#393e46;
}

body,
#inputName,
#inputEmail,
#inputPassword,
#inputPasswordC,
.r-t{
    direction: rtl;    

}

form{
    direction: rtl;    
  
}

a>.btn{
    font-size: 1.8rem;

}


a:hover{
    color:#393e46;
    text-decoration: none;


}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("img/1.jpg"); 
    min-height: 94%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spl{
    letter-spacing: 1px;
}

.notificationBox{
    position: absolute;
    width: 53%;
    z-index:1;
    right: 23%;
    padding: 0 3px;
    margin-bottom:5rem;
}
.active{
    background-color: #6c757d;
    color: #eeeeee;
}

.float-right>a:hover,
.float-right>i:hover{
    color: #393e46;
}

.numOfMsg{
    position: absolute;
    top: -4%;
    right: 14%;
    font-size: .5em;
    background: red;
    color: white;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

 .card:last-child {
    margin-bottom: 3rem;
}

.close-btn{
    position: absolute;
    font-size: 0.75rem;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 50%;
    top: 103%;
    background-color: #bbb
}

.list-group{
    max-height: 355px;
    margin-bottom: 10px;
    overflow:scroll;
overflow-x: hidden;
}

@media only screen and (max-width: 481px) {
    .card-group {
        display: none;
    }

    .bg {
        min-height: 89%; 
    }

    .numOfMsg{
        position: absolute;
        right: -61%;
        top: -33%;
    }

    .notificationBox{
        width: 84%;
        right:8%;
    }
}