@media only screen and (max-width: 480px) {
    .card-group {
      display: none; }
    .bg {
      min-height: 89%; }
    .numOfMsg {
      position: absolute;
      right: -52%;
      top: -33%; }
    .notificationBox {
      width: 84%;
      right: 8%; }
    .close-btn{
      width: 8%;
      margin: 0 46%; }
    #imgSize {
      width: 250px; } }
  
  