$bodyBg:#9EA3B0; 
$redBg: red;
$textColor: #546A7B;
$btnColor:#E4C3AD;

@import "mixin";

body, html {
    height: 100%;
    margin: 0;
}

body{
    background-color: $bodyBg;
    color:$textColor;
    direction: rtl;   
}

input.ng-invalid.ng-dirty{
    border: 1px solid $redBg;
}

a{
    color:$textColor;
    &:hover{
        text-decoration: none;
    }
}

.card-body{
    background: $bodyBg;
}

.active{
    background-color: #6c757d;
    color: #eeeeee;
}

.float-right>a,
.float-right>i{
    &:hover{
        color: $textColor;
    }
}

.numOfMsg{
    position: absolute;
    top: -29%;
    right: -52%;
    font-size: .5em;
    background: $redBg;
    color: white;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    @include mQ(480px){
        position: absolute;
        right: -52%;
        top: -33%;
    }
}

 .card {
    background-color: #546A7B;
     &:last-child{
        margin-bottom: 3rem;
    }
     &:hover{
       background: lighten(#546A7B, 6);
   }
}

.btn-color{
    background-color: $btnColor;
    border-color: none; 
    color: $textColor;
}

.btn-color{
    &:hover:enabled{
        background-color: complement($btnColor);
    }
}

.close-btn{
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 5%;
    margin: 0 47.5%;
    top: 100%;
    background-color: #bbb;
}

.close-btn{
    i{
      font-size:1.25rem;
      line-height: 1.5;  
    }
    @include mQ(480px){
        width: 30px;
        margin: 0 44.5%;
    }
}

#imgSize{
    height: 172px;
    @include mQ(480px){
        width: 250px;
    }
}

.list-group{
    max-height: 355px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
}

.lotteryName{
    cursor: pointer;
    color: $bodyBg;
    background-color: transparent;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    line-height: 2.4;
}

#lotteryImg{
    border-radius:50%;
    width: 30px;
    height: 30px;
}

.notificationBox{
    position: absolute;
    width: 53%;
    z-index:1;
    right: 23%;
    padding: 0 3px;
    margin-bottom:5rem;
    @include mQ(480px){
        width: 84%;
        right: 8%;
    }
}

.card-footer-colors{
    color:#fff;
    background-color: #0D1F2D;
}

.navbarColor{
    color:#eeeeee;
    a{
        color:#eeeeee;
    }
}

.card-group {
    @include mQ(480px){
        display: none;
    }
}

.littleFont{
    @include littleFont;
}

.littleFontSec{
    @include littleFontSec;
}

