<my-navbar></my-navbar>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mt-5 mx-auto">

                <form name='frm' class="form-signin mt-5">
                    <h1 class="h3 mb-3 font-weight-normal text-center">הרשמה</h1>

                    <label for="" class="sr-only"></label>
                    <input type="text" name='name' ng-model='newUserName' id="inputName" class="form-control my-1"
                        placeholder="שם מלא" required autofocus>
                    <span  class="text-danger float-right mb-1 littleFontSec"  ng-show="frm.name.$dirty && frm.name.$error.required">שדה חובה</span>

                    <label for="" class="sr-only"></label>
                    <input type="email" name='email' ng-model='email' id="inputEmail" class="form-control my-1" placeholder="אי-מייל" required>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.email.$dirty && frm.email.$error.required">שדה חובה</span>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.email.$dirty && frm.email.$error.email">אנא הזן כתובת דוא"ל
                        חוקית</span>

                    <label for="" class="sr-only"></label>
                    <input type="password" name='password' ng-model='password' ng-minlength='6' ng-maxlength='12'
                        id="inputPassword" class="form-control my-1" placeholder="סיסמה" required>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.password.$dirty && frm.password.$error.required">שדה חובה</span>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.password.$dirty && frm.password.$error.minlength">קצר מידי</span>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.password.$dirty && frm.password.$error.maxlength">ארוך מידי</span>

                    <label for="" class="sr-only"></label>
                    <input type="password" name='repassword' ng-model='repassword' ng-minlength='6' ng-maxlength='12'
                        class="form-control my-1" id="inputPasswordC" placeholder="אישור סיסמה" required>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.repassword.$dirty && frm.repassword.$error.required">שדה חובה</span>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.repassword.$dirty && frm.repassword.$error.minlength">קצר מידי</span>
                    <span class="text-danger float-right mb-1 littleFontSec" ng-show="frm.repassword.$dirty && frm.repassword.$error.maxlength">ארוך מידי</span>


                    <button class="btn btn-lg btn-color my-3 btn-block" ng-disabled="frm.$invalid"  ng-click="addUser()" >אשר</button>
                </form>


            </div>
        </div>
    </div>

</section>