<my-navbar></my-navbar>

<section>

    <div class="container ">
        <div class="row">
            <div class="col-sm-10 text-center mx-auto mt-3">

                <div class="float-right">
                    <a ng-href="#!/new">
                        <i class="fas fa-plus-circle mx-2 " title="חדש"></i>
                    </a>
                    <i class="fas fa-filter mx-2 d-inline-block " ng-model='isHover' ng-mouseover='isHover = true'
                        ng-mouseleave='isHover=false' title="סנן">

                        <div class="text-center d-inline-block" ng-show='isHover'>

                            <input type="button" style="font-size:0.8rem;" class="btn btn-outline-muted btn-sm "
                                ng-class="{'active':taskfilters == 1}" ng-click="kindOfSort = 'all';taskfilters = 1"
                                value="הכל">

                            <input type="button" style="font-size:0.8rem;" class="btn btn-outline-muted btn-sm" ng-init="taskfilters = 0"
                                ng-class="{'active':taskfilters == 0}" ng-click="kindOfSort = 'active';taskfilters = 0"
                                value="פעיל">

                            <input type="button" style="font-size:0.8rem;" class="btn btn-outline-muted btn-sm"
                                ng-class="{'active':taskfilters == 2}" ng-click="kindOfSort = 'completed';taskfilters = 2"
                                value="הסתיים">
                        </div>
                    </i>
                    <i class="fas fa-search mx-2" title="חיפוש" ng-model='isHoverMe' ng-click="isHoverMe=!isHoverMe;searchText='';"></i>
                </div>
                <div class="float-left mb-2">
                    <i class="fas fa-bell ml-2" title="הודעות" ng-click="toggleCustom()" style="position: relative;">
                        <div ng-show="participation>0" class="numOfMsg">{{participation}}</div>
                    </i>
                </div>
                <input class="form-control" type="text" ng-show='isHoverMe' ng-model="searchText" placeholder="חיפוש"
                    autofocus>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="notificationBox">
                    <div class="list-group text-right">

                        <li class="list-group-item" ng-hide="custom" ng-repeat="winner in winners| orderBy:winner.time:true">

                            <span class="text-left text-muted" style="font-size: 0.6rem">{{winner.time}}</span>
                            <span class="text-right mr-3 d-block" style="font-size: 0.7rem">
                                <strong>מזל טוב! </strong>זכית בהגרלה על
                                {{winner.finishLottery}}.</span>

                        </li>

                        <li class="list-group-item shadow" ng-hide="custom" ng-repeat="loser in losers | orderBy:loser.time:true">
                            <span class="text-left text-muted" style="font-size: 0.6rem">{{loser.time}}</span>
                            <span class="text-right mr-3 d-block" style="font-size: 0.7rem">
                                <strong>מצטערים! </strong>הפעם לא זכית. תודה על השתתפותך בהגרלה על
                                {{loser.finishLottery}}.</span>

                        </li>

                        <li class="list-group-item" ng-hide="custom" ng-repeat="participation in participations | orderBy:participation.time:true">
                            <span class="text-left text-muted" style="font-size: 0.6rem">{{participation.time}}</span>
                            <span class="text-right mr-3 d-block" style="font-size: 0.7rem">
                                <strong>הצטרפת </strong>להגרלה על

                                {{participation.lotteryN}}.</span>

                        </li>

                    </div>
                    
                    
                    
                    <div ng-hide="custom || !participations" ng-click="custom=true" class="text-center close-btn">
                        <i style="font-size:1.25rem;line-height: 1.5;" class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row ">
            <div class="col-sm-10 mx-auto text-center ">
                <div class="accordion" id="accordionExample">
                    <div class="card" ng-repeat="lotterie in lotteries  | orderBy:'lotterie':true | filter : sortByStatus | filter : searchText"
                        style="background-color: #546A7B;">
                        <div class="card-header" id="{{lotterie.productName}}" ng-click="isAlreadyIn(lotterie.id)"
                            data-toggle="collapse" data-target="#{{lotterie.id}}" aria-expanded="false" aria-controls="{{lotterie.id}}">

                            <h5 class="mb-0">
                                <!-- <span class="float-left text-danger" ng-show="{{lotterie.chance}} >= 0.1 && {{lotterie.chance}} <= 0.5">
                                    <i class="fas fa-dice-two my-2" style="font-size:1.8rem;"></i></span>
                                <span class="float-left text-warning" ng-show="{{lotterie.chance}} > 0.5 && {{lotterie.chance}} < 10">
                                    <i class="fas fa-dice-four my-2" style="font-size:1.8rem;"></i>
                                </span>
                                <span class="float-left text-success" ng-show="{{lotterie.chance}} >= 10">
                                    <i class="fas fa-dice-six my-2" style="font-size:1.8rem;"></i></span> -->


                                <!-- <i ng-click='deleteFromLotteries($index)' ng-show={{lotterie.sellerUserId}}=={{userId}} class="far fa-trash-alt float-right my-2" style="color:rgb(255, 0, 0)"></i> -->

                                <!-- <button class="btn btn-link" type="button" ng-click="isAlreadyIn(lotterie.id)"
                                    data-toggle="collapse" data-target="#{{lotterie.id}}" aria-expanded="false"
                                    aria-controls="{{lotterie.id}}" style=" color:#eeeeee">{{lotterie.productName}}
                                </button> -->
                                <img ng-src="{{lotterie.image}}">
                                <div class="lotteryName">{{lotterie.productName}}</div>
                            </h5>
                        </div>

                        <div id="{{lotterie.id}}" class="collapse" aria-labelledby="{{lotterie.productName}}"
                            data-parent="#accordionExample">

                            <div class="card-body mb-1">
                                <div class="row">

                                    <div class="col-sm-3 font-weight-bold text-right">תיאור המוצר:

                                        <div class="font-weight-normal text-right" style="font-size:0.8rem;">{{lotterie.description}}</div>

                                    </div>

                                    <div class="col-sm-3 font-weight-bold text-right">דמי השתתפות:

                                        <div class="font-weight-normal text-right" style="font-size:0.8rem;">{{lotterie.lotteriePrice
                                            |
                                            number}}
                                            ש"ח
                                        </div>
                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">אחוזי זכייה:
                                        <div style="font-size:0.8rem;" class="font-weight-normal text-right">%
                                            {{lotterie.chance}}

                                        </div>

                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">התחיל:
                                        <div style="font-size:0.8rem;" class="font-weight-normal text-right">
                                            {{lotterie.startTime}}</div>

                                    </div>

                                    <div class="col-sm-12 mx-auto mt-2" ng-show='{{lotterie.complete}}>=100'>
                                        <div class="alert alert-danger" role="alert">
                                            <strong>ההגרלה הסתיימה! </strong>לא ניתן להצטרף להגרלה זו.
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mx-auto mt-2" ng-hide='!alreadyIn || {{lotterie.complete}}>=100 '>
                                        <div class="alert alert-warning" role="alert">
                                            <strong>כבר הצטרפת! </strong>לא ניתן להצטרף להגרלה זו.
                                        </div>
                                    </div>


                                </div>


                                <div class="col-sm-12 mt-2 text-left" ng-hide='{{lotterie.complete}}>=100 || alreadyIn'>

                                    <button type="button" class="btn btn-color" data-toggle="modal" data-target=".{{lotterie.id}}"
                                        ng-click="getAndCount($event, lotterie.id);">הצטרף</button>

                                    <div class="text-muted" style="font-size: 0.8rem;">{{lotterie.complete}}%
                                        משתתפים</div>

                                </div>


                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade {{lotterie.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{lotterie.productName}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="text-muted">האם אתה בטוח שאתה רוצה להשתתף בהגרלה על</span>
                                        <span class="text-muted"> {{lotterie.productName}} במחיר
                                            {{lotterie.lotteriePrice | number}} ש"ח?</span>
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary mx-1  btn-sm"
                                            data-dismiss="modal">ביטול</button>
                                        <button type="button" class="btn btn-color  btn-sm" data-dismiss="modal">אישור
                                            ותשלום</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer fixed-bottom text-muted text-center py-1" style="font-size: 0.8rem; color:#fff;background-color: #0D1F2D;">
        CODED BY LIOR-SHMERLING
    </div>

</section>