<my-navbar></my-navbar>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 text-center mx-auto">
                <h3>רשימת ההגרלות</h3>
                <h6 class="text-muted mb-5">חפש הגרלה ולחץ על הכפתור על מנת להצטרף, לאחר הגעה ל100% משתתפים תשלח הודעה
                    למשתתפים
                    ולזוכה.</h6>
                <div class="text-center h6 mx-auto">
                    <span>סנן לפי:</span>
                    <input type="button" class="btn btn-outline-secondary  btn-sm" ng-click="kindOfSort = 'all'" value="הכל">
                    <input type="button" class="btn btn-outline-secondary  btn-sm" ng-click="kindOfSort = 'active'" value="פעיל">
                    <input type="button" class="btn btn-outline-secondary  btn-sm" ng-click="kindOfSort = 'completed'"
                        value="הסתיים">
                </div>
                
            </div>
        </div>
   

        <div class="row">
            <div class="col-sm-10 mx-auto text-center mt-5">

                <div class="accordion" id="accordionExample">
                    <div class="card" ng-repeat="lotterie in lotteries | filter : sortByStatus">
                        <div class="card-header" id="{{lotterie.productName}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{lotterie.id}}"
                                    aria-expanded="false" aria-controls="{{lotterie.id}}">{{lotterie.productName}}
                                </button>

                            </h5>
                        </div>

                        <div id="{{lotterie.id}}" class="collapse" aria-labelledby="{{lotterie.productName}}"
                            data-parent="#accordionExample">

                            <div class="card-body">
                                <div class="row">

                                    <div class="col-sm-3 font-weight-bold text-right">תיאור המוצר:

                                        <div class="font-weight-normal text-right">{{lotterie.description}}</div>

                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">מחיר שוק:
                                        <div style="text-decoration: line-through;" class="font-weight-normal text-right">{{lotterie.marketPrice
                                            | number}} ש"ח
                                        </div>

                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">דמי השתתפות:

                                        <div class="font-weight-normal text-right">{{lotterie.lotteriePrice | number}}
                                            ש"ח
                                        </div>
                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">מספר סוחר:

                                        <div class="font-weight-normal text-right">#{{lotterie.sellerUserId}}</div>

                                    </div>
                                    <div class="col-sm-12 mx-auto mt-3" ng-show='{{lotterie.complete}}==100'>
                                        <div class="alert alert-danger" role="alert">
                                            <strong>ההגרלה הסתיימה! </strong>לא ניתן להצטרף להגרלה זו.
                                        </div>
                                    </div>



                                </div>

                                <div>

                                    <div class="col-sm-12 mt-3 text-left" ng-hide='{{lotterie.complete}}==100'>

                                        <button type="button" class="btn btn-warning font-weight-bold " data-toggle="modal"
                                            data-target=".{{lotterie.id}}" ng-click="getAndCount($event, $index)">הצטרף</button>

                                        <div class="text-muted" style="font-size: 0.8rem;">{{lotterie.complete}}%
                                            משתתפים</div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade {{lotterie.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{lotterie.productName}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="text-muted">בחרת להשתתף בהגרלה על</span>
                                        <span class="text-muted">{{lotterie.productName}}</span>
                                        <span class="text-muted">במחיר של</span>
                                        <span class="text-muted">{{lotterie.lotteriePrice | number}} ש"ח.</span>
                                        <p></p>
                                        <span class="text-muted"> לחץ על PayPal על מנת לשלם.</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">ביטול</button>
                                        <button type="button" class="btn btn-primary">PayPal</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


</section>