<my-navbar></my-navbar>
<section>

    <div class="container">
        <div class="row">
            <div class="col-sm-10 text-center mx-auto m-3">

                <div class="float-right">

                    <a ng-href="#!/new" id="no-decoration">
                        <i class="fas fa-plus-circle mx-2 " title="חדש" style="font-size:1.4rem;"></i>
                    </a>

                    <i class="far fa-comment-alt mx-2 btn badge1" data-badge="5" title="הודעות" ng-click="toggleCustom()"
                        style="font-size:1.4rem;"></i>


                    <i class="fas fa-filter mx-2" style="font-size:1.15rem;" ng-model='isHover' ng-mouseover='isHover = true'
                        ng-mouseleave='isHover=false' title="סנן">



                        <div class="text-center d-inline-block" ng-show='isHover'>

                            <input type="button" style="font-size:0.7rem;" class="btn btn-outline-muted btn-sm "
                                ng-class="{'active':taskfilters == 1}" ng-click="kindOfSort = 'all';taskfilters = 1"
                                value="הכל">

                            <input type="button" style="font-size:0.7rem;" class="btn btn-outline-muted btn-sm" ng-init="taskfilters = 0"
                                ng-class="{'active':taskfilters == 0}" ng-click="kindOfSort = 'active';taskfilters = 0"
                                value="פעיל">

                            <input type="button" style="font-size:0.7rem;" class="btn btn-outline-muted btn-sm"
                                ng-class="{'active':taskfilters == 2}" ng-click="kindOfSort = 'completed';taskfilters = 2"
                                value="הסתיים">
                        </div>
                    </i>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div style="position:absolute;z-index:1;">
                    <div class="list-group text-right ">

                        <li class="list-group-item shadow p-3 bg-white" ng-hide="custom" ng-repeat="lotterie in lotteries"><span
                                class="text-left text-muted" style="font-size: 0.6rem">22/10/2018 9:31</span> <span
                                class="text-right" style="font-size: 0.8rem">הצטרפת
                                להגרלה על
                                {{lotterie.productName}}.</span>
                        </li>
                        <!-- <span ng-show="custom"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-1">
            <div class="col-sm-10 mx-auto text-center mt-2">
                <div class="accordion" id="accordionExample">
                    <div class="card" ng-repeat="lotterie in lotteries | filter : sortByStatus" style="background-color: #393e46; color:#eeeeee">
                        <div class="card-header" id="{{lotterie.productName}}">
                            <h5 class="mb-0">
                                <span class="float-left text-danger" ng-show="{{lotterie.chance}} >= 0.1 && {{lotterie.chance}} <= 0.5">
                                    <i class="fas fa-dice-two my-2" style="font-size:1.8rem;"></i></span>
                                <span class="float-left text-warning" ng-show="{{lotterie.chance}} > 0.5 && {{lotterie.chance}} < 10">
                                    <i class="fas fa-dice-four my-2" style="font-size:1.8rem;"></i>
                                </span>
                                <span class="float-left text-success" ng-show="{{lotterie.chance}} >= 10 && {{lotterie.chance}} <= 50">
                                    <i class="fas fa-dice-six my-2" style="font-size:1.8rem;"></i></span>


                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{lotterie.id}}"
                                    aria-expanded="false" aria-controls="{{lotterie.id}}" style=" color:#eeeeee">{{lotterie.productName}}
                                </button>

                            </h5>
                        </div>

                        <div id="{{lotterie.id}}" class="collapse" aria-labelledby="{{lotterie.productName}}"
                            data-parent="#accordionExample">

                            <div class="card-body mb-5">
                                <div class="row">

                                    <div class="col-sm-3 font-weight-bold text-right">תיאור המוצר:

                                        <div class="font-weight-normal text-right">{{lotterie.description}}</div>

                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">מחיר שוק:
                                        <div style="text-decoration: line-through;" class="font-weight-normal text-right">{{lotterie.marketPrice
                                            | number}} ש"ח
                                        </div>

                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">דמי השתתפות:

                                        <div class="font-weight-normal text-right">{{lotterie.lotteriePrice |
                                            number}}
                                            ש"ח
                                        </div>
                                    </div>
                                    <div class="col-sm-3 font-weight-bold text-right">אחוזי זכייה:
                                        <div class="font-weight-normal text-right">%
                                            {{lotterie.chance}}</div>

                                    </div>
                                    <div class="col-sm-12 mx-auto mt-5" ng-show='{{lotterie.complete}}==100'>
                                        <div class="alert alert-danger" role="alert">
                                            <strong>ההגרלה הסתיימה! </strong>לא ניתן להצטרף להגרלה זו.
                                        </div>
                                    </div>



                                </div>


                                <div class="col-sm-12 mt-5 text-left" ng-hide='{{lotterie.complete}}==100'>

                                    <button type="button" class="btn btn-info font-weight-bold " data-toggle="modal"
                                        data-target=".{{lotterie.id}}" ng-click="getAndCount($event, this.$index);">הצטרף</button>

                                    <div class="text-muted" style="font-size: 0.8rem;">{{lotterie.complete}}%
                                        משתתפים</div>

                                </div>


                            </div>
                        </div>

                        <!-- Modal -->
                        <div class=" mt-5 modal fade {{lotterie.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{lotterie.productName}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="text-muted">האם אתה בטוח שאתה רוצה להשתתף בהגרלה על</span>
                                        <span class="text-muted"> {{lotterie.productName}} במחיר
                                            {{lotterie.lotteriePrice | number}} ש"ח?</span>
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary mx-1  btn-sm" data-dismiss="modal">ביטול</button>
                                        <button type="button" class="btn btn-info  btn-sm" data-dismiss="modal">אישור
                                            ותשלום</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer bg-dark fixed-bottom text-muted text-center py-1" style="font-size: 0.8rem">
        CODED BY LIOR-SHMERLING
    </div>

</section>